@use "/src/styles/base/colors" as colors;
@use "/src/styles/utilities/utilities" as utilities;

.button {
  background: colors.$white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3 ease;
  border: 2px solid colors.$white-30;

  @include utilities.rimac-flexbox-center();

  &:hover {
    opacity: 0.8;
  }

  &.sm {
    width: 20px;
    height: 20px;
    & img {
      width: 10px;
    }
  }

  &.md {
    width: 24px;
    height: 24px;
    & img {
      width: 12px;
    }
  }

  &.active {
    border-color: colors.$blueberry;
  }
}
