/*
Colors
==========================================================================
*/

/* White & Light Tones */
$white: #ffffff;
$white-5: #f8f9ff;
$white-10: #edeffc;
$white-20: #d7dbf5;
$white-30: #a9afd9;
$white-40: #ccd1ee;

/* Dark & Neutral Tones */
$dark: #141938;
$dark-90: #03050f;
$dark-80: #7981b2;
$dark-50: #2b304e;
$gray-50: #5e6488;

/* Blue & Purple Tones */
$blueberry: #4f4fff;
$purple-light: #aeacf3;
$purple-dark: #0a051e;

/* Accent Colors */
$red: #ff1c44;
$green: #389e0d;
$green-light: #00ff7f;
$aqua-light: #7df0ba;
$aqua: #00f4e2;
